<header class="nav">
    <img src="app-logo.png" alt="App Logo" class="app-logo">
    <ul>
      <li><a [routerLink]="['/']">Home</a></li>
      <li><a [routerLink]="['/profile', username]">Profile</a></li>

      <li><a [routerLink]="['/courses']">Courses</a></li>
      @if(isNotJustUser){
      <li><a [routerLink]="['/upload']">Upload</a></li>
      }
      @if(isAdmin){
      <li><a [routerLink]="['/admin-panel']">Admin panel</a></li>
      }
      <li><a (click)="logout()">Logout</a></li>
    </ul>
</header>