.nav{
  border-bottom: 1px solid black;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #4699f9;
}
.nav ul{
  display: flex;
  gap: 50px;
  width: 100%;
  list-style: none;
}

.nav ul li a{
  text-decoration: none;
  color: #f2f2f2;
  font-size: 20px;
  font-weight: 500;
  display: inline-block;
  max-width: 110px;
  border: 2px solid #4699f9;
  padding: 10px 20px;
  background-color: rgb(37, 37, 37);
  box-shadow: -5px 5px 0px #1c5ca5;
}

.nav ul li a:hover{
  background-color: #f2f2f2;
  color: rgb(37, 37, 37);
  transition: all 0.3s ease;
  cursor: pointer;
}
.nav ul li:last-child{
  margin-left: 20%;
}

.nav ul li:last-child a{
  background-color: white;
  color:rgb(37, 37, 37);
}

.nav ul li:last-child a:hover{
  background-color: #e9000c;
  color:white;
}

.app-logo{
  width: 400px;
}

