.nav{
  border-bottom: 1px solid black;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #4699f9;
}
.nav ul{
  display: flex;
  gap: 100px;
  border: 1px solid black;
  width: 100%;
  list-style: none;
}

.nav ul li a{
  text-decoration: none;
  color: #f2f2f2;
}

.nav ul li:last-child{
  margin-left: 50% ;
}
.app-logo{
  width: 400px;
}

