<div class="courses-section">
    @if(videos.length === 0){
    <div class="lds-ring">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
    }
    @if(enrolled.length !== 0){
    @for(video of videos; track video){
    @if(isVideoEnrolled(video.videoId)){
    <div class="course-card">
        <img class="course-image" [src]="getImageSrc(video.thumbnailBase64)" alt="{{ video.title }} thumbnail">
        <div class="course-info">
            <h3>{{ video.title }}</h3>
            <p>
                <i class="fa fa-thumbs-up"></i> Likes: {{video.likes}}
            </p>
            <p>
                <i class="fa fa-thumbs-down"></i> Dislikes: {{video.dislikes}}
            </p>
            <p class="views-container">
                <i class="gg-eye"></i> <span>Views: {{video.views}}</span>
            </p>
            @if(!isVideoEnrolled(video.videoId)){
            <a (click)="viewVideo(video.videoId)"  (click)="enroll(video.videoId)" [routerLink]="['/videos', video.videoId]"
                class="enroll-link course-link">Enroll</a>
            }
            @else{
            <a (click)="viewVideo(video.videoId)" [routerLink]="['/videos', video.videoId]" class="open-link course-link">Open</a>
            }
        </div>
    </div>
    }
}

    }
</div>