<footer class="footer">
    <div>
        <h1 class="footer_heading">OneSkill</h1>
        <p>All rights reserved &copy; by Svetlin Sofroniev</p>
    </div>
    <ul>
        <li>About us</li>
        <li>FAQ</li>
        <li>Terms and Conditions</li>
        <li>Contacts</li>
    </ul>
 
    <ul role="list">
        <li>Follow us on</li>
   
        <li class="footer-item">
            <a
                class="footer-link"
                href="https://www.facebook.com/profile.php?id=100008200265974"
                target="_blank"
                rel="noreferrer"
            >
                <i class="fab fa-facebook-square" ></i>
            </a>
        </li>
        <li class="footer-item">
            <a
                class="footer-link"
                href="https://www.instagram.com/svetli.b/"
                target="_blank"
                rel="noreferrer"
            >
                <i class="fab fa-instagram"></i>
            </a>
        </li>
    </ul>
</footer>