.footer {
    display: flex;
    justify-content: space-around;
    padding: 50px 0px;
    color: white;
    background-color: rgb(37, 37, 37);
    gap: 40px;
    width: 100%;
}

footer div p {
    margin-left: 0px;
}

.footer_heading {
    font-size: 45px;
}
.follow-title{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.footer-item {
    display: inline-block;
    margin-right: 10px;
    font-size: 40px;
}

.footer-link {
    color: white;
}

.footer-link:hover {
    color: #55c9fb;
}