<div class="video-container">
    <div class="video-player">
        <video #videoPlayer [src]="videoUrl"  controls></video>
    </div>
    <div class="video-details">
        <h1>{{video.title}}</h1>
        <p class="video-description">{{video.description}}</p>
        <div class="video-metadata">
            <span>Uploaded by: {{video.username}}</span>
            <span>Published on: <span>{{video.uploadDate}}</span></span>
            <span>Views: <span>{{video.views}}</span></span>
        </div>
        <div class="video-actions">
            <button  (click)="like(video.videoId)" id="likeButton">👍 Like <span id="likeCount">{{likes}}</span></button>
            <button  (click)="dislike(video.videoId)" id="dislikeButton">👎 Dislike <span id="dislikeCount">{{dislikes}}</span></button>
        </div>
    </div>
    <div class="comments-section">
        <h2>Comments</h2>
        <form (submit)="onSubmitComment($event, video.videoId)" id="commentForm">
            <textarea id="commentInput" placeholder="Add a public comment" [(ngModel)]="commentContent" name="content"></textarea>
            <button type="submit">Comment</button>
        </form>
        <div class="comments-list">
            @for(comment of comments; track $index){            
            <div class="comment">
                <p><strong>{{comment.username}} <b>{{comment.timestamp}}</b>: </strong>{{comment.content}}</p>
            </div>
        }
        </div>
    </div>
</div>