<div class="profile-section">
    <div class="profile-card">
        <img src="https://th.bing.com/th?id=OIP.f3DM2upCo-p_NPRwBAwbKQHaHa&w=250&h=250&c=8&rs=1&qlt=90&o=6&pid=3.1&rm=2"
            alt="User Profile Image" class="profile-image">
        <div class="profile-info">
            <h3>{{response.firstname}} {{response.lastname}}</h3>
            <p><span class="roles-span">Roles: </span><span>{{formattedRoles}}</span></p>
            <p>Email: {{response.email}}</p>
            <p>Joined at: {{response.createdAt}}</p>
            <p>Username: {{response.username}} </p>
            <a (click)="openModalEdit()" class="profile-link">Edit Profile</a>
            <a (click)="openModalDelete()" class="profile-link">Delete Profile</a>
        </div>
    </div>
</div>

<div id="editProfileModal" class="modal" [ngStyle]="{'display': displayModalEdit ? 'block' : 'none'}">
    <div class="modal-content">
        <span class="close" (click)="closeEditModal()">&times;</span>
        <h2>Edit User Profile</h2>
        <form (ngSubmit)="onEditProfile()">
            <div class="form-group">
                <label for="firstname">First Name</label>
                <input type="text" id="firstname" name="firstname" required [(ngModel)]="editObj.firstname">
            </div>
            <div class="form-group">
                <label for="lastname">Last Name</label>
                <input type="text" id="lastname" name="lastname" required [(ngModel)]="editObj.lastname">
            </div>
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" id="username" name="username" required [(ngModel)]="editObj.username">
            </div>
            <div class="form-group">
                <label for="password">New password</label>
                <div class="password-div">


                <input class="password" (blur)="validatePassword()" type="{{ hidePassword ? 'password' : 'text' }}" id="password" name="password" required [(ngModel)]="editObj.password" [ngClass]="{'invalid-password': passwordValidation}"> 
                <i (click)="togglePasswordVisibility()" class="gg-eye eye"></i>
                </div>
                @if(passwordValidation){
                    <span class="invalid-feedback">Invalid password. Password must be at least 8 characters long and include letters, numbers, and special symbols.</span>
                }


            </div>
            <div class="form-group">
                <button type="submit">Save Changes</button>
            </div>
        </form>
    </div>
</div>

<div id="deleteModal" class="modal" [ngStyle]="{'display': displayModalDelete ? 'block' : 'none'}">
    <div class="modal-content">
        <span class="close" (click)="closeModalDelete()">&times;</span>
        <h2>Are you sure you want to delete this item?</h2>
        <div class="form-group">
            <button (click)="confirmDelete()">Yes</button>
            <button class="cancel" (click)="cancelDelete()">No</button>
        </div>
    </div>
</div>

<h1 class="course-section-h1">Enrolled courses</h1>
<app-enrolled-cards></app-enrolled-cards>