<div class="profile-section">
    <div class="profile-card">
        <img src="https://th.bing.com/th?id=OIP.f3DM2upCo-p_NPRwBAwbKQHaHa&w=250&h=250&c=8&rs=1&qlt=90&o=6&pid=3.1&rm=2"
            alt="User Profile Image" class="profile-image">
        <div class="profile-info">
            <h3>{{response.firstname}} {{response.lastname}}</h3>
            <p>Email: {{response.email}}</p>
            <p>Joined at: {{response.createdAt}}</p>
            <p>Username: {{response.username}}  </p>
            <a href="#" class="profile-link">Edit Profile</a>
            <a href="#" class="profile-link">Delete Profile</a>
        </div>
    </div>
</div>

<h1 class="course-section-h1">Enrolled courses</h1>
<app-enrolled-cards></app-enrolled-cards>