
<div class="courses-section">
    @if(videos.length === 0){
        <div class="lds-ring">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
        }
        
    @for(video of videos; track video){
       
    <div class="course-card">
        <img class="course-image" [src]="getImageSrc(video.thumbnailBase64)" alt="{{ video.title }} thumbnail">
        <div class="course-info">
            <h3>{{ video.title }}</h3>
            <p>Likes: {{video.likes}}</p>
            <p>Dislikes: {{video.dislikes}}</p>
            <p>Views: {{video.views}}</p>
            @if(isVideoEnrolled(video.videoId)){
            <a (click)="enroll(video.videoId)" [routerLink]="['/videos', video.videoId]" class="enroll-link course-link">Enroll</a>
             }
            <a [routerLink]="['/videos', video.videoId]" class="open-link course-link">Open</a>
        </div>
    </div>
    
    }
</div>